
.pokecard {
    display: flex;
    border: 1px solid #fd5e53;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 250px;
    height: 100%;
    max-height: 370px;
    position: relative;


    /*
    background: linear-gradient(90deg, rgb(112, 109, 107) 29%, rgb(71, 68, 68) 78%);
    background: linear-gradient(90deg, rgb(87, 142, 230) 29%, rgb(43, 95, 238) 78%);
    background: linear-gradient(90deg, rgb(218, 144, 75) 29%, rgb(202, 115, 34) 78%);
    background: linear-gradient(90deg, rgb(170, 162, 153) 29%, rgb(117, 111, 105) 78%);
    background: linear-gradient(90deg, rgb(79, 214, 79) 29%, rgb(41, 158, 37) 78%);
    background: linear-gradient(90deg, rgb(224, 131, 204) 29%, rgb(238, 89, 218) 78%);
    background: linear-gradient(90deg, rgb(177, 128, 240) 29%, rgb(153, 67, 233) 78%);
    background: linear-gradient(90deg, rgb(236, 92, 73) 29%, rgb(243, 62, 62) 78%);
    background: linear-gradient(90deg, rgb(230, 230, 230) 29%, rgb(219, 209, 209) 78%);
    background: linear-gradient(90deg, rgb(241, 233, 111) 29%, rgb(228, 216, 45) 78%);
    */
}

.pokecard__image{
    border: 1px solid #000;
    border-bottom: none;
    background-color: #f7f7f7f7;
    height: 100%;
    width: 150px;
}

.pokecard__top{
    display: flex;
    align-items: start;
    justify-content: space-between;
    width: 100%;
}

.pokecard__top-title{
    color: #f7f7f7f7;
    background: linear-gradient(90deg, rgb(223, 68, 68) 29%, rgb(224, 29, 29) 78%);
    padding: 2px 2px;
    max-width: 80%;
    display: flex;
    align-self: flex-start;
    font-size: 20px;
    

}

.pokecard__top-number{
    width: 100%;
    max-width: 60px;
    height: 20px;
    text-align: center;
    color:white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    background:linear-gradient(90deg, rgb(230, 230, 230) 29%, rgb(219, 209, 209) 78%);

}

.pokecard__text{
    text-align: center;
    background-color: white;
    height:100%;
    max-height: 150px;
    background:linear-gradient(90deg, rgb(255, 255, 255) 29%, rgb(243, 243, 243) 78%);
    
}

.pokecard__text-description{
    padding: 10px 20px;
    
}

.pokecard__text-types{
    display: flex;
    justify-content: space-around;
}

.pokecard__text-type{
    width: 100%;
    background: linear-gradient(90deg, rgb(233, 233, 233) 29%, rgb(235, 225, 225) 78%);
}

.pokecard__btn-group{
    display: flex;
    align-self: end;
    flex: row;
    width: 100%;
    height: 40px;
    justify-content: space-between;
    align-items: end;
}

.btn-card{
    padding: 8px 20px;
    border-radius: 4px;
    outline: none;
    border: 1px solid black;
    font-weight: 500;
    background-color: white;
    cursor: pointer;
    height: 100%;
    color: #000;
}

.btn-add{
    transition: all 0.3s ease-out;
}

.btn-add:hover{
    color: green;
    font-weight: bold;
}

.btn-release{
    transition: all 0.3s ease-out;
}

.btn-release:hover{
    color: red;
    font-weight: bold;
}

.btn-info{
    text-decoration: none;
}

.btn-info:hover{
    color:blue;
}


.btn-add:disabled{
    cursor: not-allowed;
    background-color: grey;
    color:white;
    
}

@media screen and (max-width: 960px) {
    .pokecard{
        width: 200px;
       
    }
    .pokecard__text-description{
        font-size: 12px;
        padding: 1px 1px;
    }
    .pokecard__top-title {
        font-size: 15px;
    }
    
    .pokecard__text-type{
        font-size: 12px;
    }

    .pokecard__image{
        max-width: 120px;
    }

    .btn-card {
        font-size: 10px;
    }
}



