*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.main{
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
    gap: 12px;
    max-width: 1020px;
    margin: 0 auto;
    padding-top: 12px;
    padding-bottom: 12px;

}

.poke-wrapper{
    display: grid;
    grid-template-columns: repeat(4,250px);
    align-items: center;
    justify-content: center;
    column-gap: 10px;
    row-gap: 15px;

}

.np-buttons{
    display: flex;
    align-self: center;
    flex:1;
    justify-content: space-between;
    width: 100%;
    
}

.btn-previous {
    display: flex;
    align-self: start;
}

.btn-next {
    display: flex;
    align-self: end;
}

.btn-nav:disabled{
    background: gray;
    border: 1px solid gray;
    cursor: not-allowed;
}




.btn:disabled:hover{
    background: gray;
    color:white;
    
}

.btn-red{
    background: red;
    color: white;
    border: 3px solid #fd5e53;
    
}

.pokemon-wrapper{
    margin-top: 25px;
    align-self: center;
    max-width: 720px;
    width: 100%;
}

.pokemon-top{
    display: flex;
    justify-content: center;
}

.pokemon-image {
    
    max-width: 250px;
    max-height: 250px;
    height: 100%;
    width: 100%;
    align-self: center;

}

.pokemon-description {
    padding: 10px 20px;
}

.pokemon-side_description {
    
    max-width: 250px;
    max-height: 250px;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    
}

.pokemon-side_description--title{

}

.pokemon-side_description--subtitle{

}

.pokemon-side_description--type{

}


@media screen and (max-width: 960px) {
    .poke-wrapper{
        grid-template-columns: repeat(2,200px);
        row-gap: 2px;
        column-gap: 10px;
        
    }

    .pokemon-side_description{
        align-items: center;
    }



    
}

@media screen and (max-width: 740px) {
    .poke-wrapper{
        grid-template-columns: repeat(1,200px);
        row-gap: 15px;
        
    }

    
}